@import "tailwindcss";

:root {
  --background: #1d1f24;
  --foreground: #fff;
  --primary: #fefc00;
}

@theme {
  --font-inter: var(--font-inter);
  --font-spectral: var(--font-spectral);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

@layer components {
  body {
    @apply bg-background font-inter text-foreground scroll-smooth;
  }

  .text-balance {
    text-wrap: balance;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

/* Pause animation on hover */
.animate-marquee:hover {
  animation-play-state: paused;
}

.swiper-pagination-custom,
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 1;
}

.swiper-pagination-custom .swiper-pagination-bullet-active {
  background-color: var(--primary);
}
